services:
  hyperf:
    container_name: hyperf-skeleton
    build:
      context: .
    env_file:
      - ./.env
    volumes:
      - ./app:/opt/www/app
      - ./config:/opt/www/config
      - ./public:/opt/www/public
      - ./resources:/opt/www/resources
      - ./migrations:/opt/www/migrations
      - ./runtime:/opt/www/runtime
      - ./storage:/opt/www/storage
      - ./vendor:/opt/www/vendor
      - ./composer.json:/opt/www/composer.json
      - ./composer.lock:/opt/www/composer.lock
    ports:
      - "9501:9501"
    depends_on:
      - mysql
    command: ["php", "/opt/www/bin/hyperf.php", "start"]
    restart: unless-stopped

  mysql:
    container_name: hyperf-mysql
    image: mysql:8.0
    env_file:
      - ./.env 
    environment:
        MYSQL_DATABASE: ${DB_DATABASE}
        MYSQL_ROOT_PASSWORD: ${DB_PASSWORD}
        MYSQL_ALLOW_EMPTY_PASSWORD: "yes"
    ports:
      - "3306:3306"
    volumes:
      - mysql-data:/var/lib/mysql
    restart: unless-stopped

volumes:
  mysql-data:

networks:
  default:
    name: hyperf-skeleton
